_códigos antigos/
Debug/
Diário de bordo/
LaTex/
Testes/
Nandy_Paralelro.sln
Nandy_Paralelo - Planilha Auxiliar.xlsx
Nandy_Paralelo - Testes do Fitness.xlsx
vc90.pdb
Nandy_Paralelro.ncb
Nandy_Paralelro.vcproj
Nandy_Paralelro.suo
Nandy_Paralelro.vcproj.Proprietario-PC.Comum.user
Nandy_Paralelro.vcproj.user
