z_OLD/
Configurando o CUDA no Microsoft Visual Cpp Express 2008.pdf
Configurando o CUDA no Microsoft Visual Cpp Express 2008.docx

Nandy_Paralelo/_códigos antigos/
Nandy_Paralelo/Debug/
Nandy_Paralelo/Diário de bordo/
Nandy_Paralelo/LaTex/
Nandy_Paralelo/Testes/
Nandy_Paralelo/Nandy_Paralelro.sln
Nandy_Paralelo/Nandy_Paralelo - Planilha Auxiliar.xlsx
Nandy_Paralelo/Nandy_Paralelo - Testes do Fitness.xlsx
Nandy_Paralelo/vc90.pdb
Nandy_Paralelo/Nandy_Paralelro.ncb
Nandy_Paralelo/Nandy_Paralelro.vcproj
Nandy_Paralelo/Nandy_Paralelro.suo
Nandy_Paralelo/Nandy_Paralelro.vcproj.Proprietario-PC.Comum.user
Nandy_Paralelo/Nandy_Paralelro.vcproj.user

Serial_novo/Serial_novo/